.vs/

[Dd]ebug/
[Rr]elease/
x86/
x64/
ARM/
ARM64/
KomputeR.*/

packages/

imgui.ini
.DS_Store
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
DerivedData/
/mac/build/

/assets/buddha/
/assets/powerplant/
